#bigBox {

  color: black;
  background-color: #2D3748;
  display: flex;
  justify-content: center;
  margin: auto;

.caja {
  margin-top: 110px; 
  justify-content: 'center'; 
  gap: '4em';
  position: relative;
}

.brands {
  font-weight: 700;
  font-size: 1.6rem;
}

.smallCaja {
  padding: 0 1em 1.5em 1em;
  width: 260px;
  border: 1px solid black;
  border-radius: 1em;
  position: relative;
  min-height: 490px;
  background: white;
  font-weight: 800;
  font-size: 1.1rem;
  min-width: 300px;
  box-shadow: 0 20px 25px -5px darkgrey, 0 10px 10px -5px darkgrey;

  &:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }
}

@media(min-width: 800px) and (max-width: 1270px) {
  .smallCaja {
    margin-left: 340px!important;
  }
}

.spaceColors {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

@media(max-width: 700px) {
  .smallCaja {
    margin-bottom: 10px;
  }
}

  .image {
    height: 200px;
    width: auto;
    border-radius: 8px; 
    margin-top: -40px;
    

    &:hover{
      transition: margin-top 0.9s;
      transform: translateY(-23%);
      width: 170px;
      max-height: 240px;
    }
  }

  .data {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .icons {
     height: 23px;
     width: auto;
     gap: 0.3em;
  }

  .price {
    font-weight: 900;
    font-size: 1.2rem;
    color: gray;
  }

  .btnColor {
    border-radius: 100%; 
    height: 20px;
    width: 20px;
    border: none;

    &:active {
      outline: 3px solid black;
    }
  }
}

.crudTitle {
  font-weight: 800;
  font-size: 1.7rem;
}

// --- INPUT ---
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  display: flex;
  justify-content: center;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  // font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: gray;
    font-size: 1.3rem;
    // font-weight: 600
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.7s;
  font-size: 1.6rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.6s;
    font-size: 1.3rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}

/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

// TEST
.testMargin {
  margin-bottom: 120px;
}
